<% include ../partials/head %> <% include ../partials/sidebar %>

<!-- Pretraga -->
<form action="/books" method="GET" class="top-bar-book-show-form">
	<div class="input-group">
		<input type="text" class="form-control pl-3" name="search" placeholder="Pretraga..." aria-label="Pretraga" aria-describedby="search-icon" />
		<div class="input-group-append">
			<span class="input-group-text py-0 px-3" id="search-icon">
				<button type="submit" class="btn p-0">
					<i class="fas fa-search"></i>
				</button>
			</span>
		</div>
	</div>
</form>

<main>
	<% include ../partials/flashmessages %>
	<!-- Informacije o knjigama -->
	<section id="book-favorites" class="pt-5">
		<div class="container pt-5">
			<div class="row">
				<% if (!books || books.length <= 0){ %>
					<div class="col-md-12 text-center pt-5">
						<h1>Nemate favorita</h1>
						<h5>Pretražite našu biblioteku i dodajte svoje omiljene knjige u favorite</h5>

						<!-- Pretraga -->
						<form action="/books" method="GET">
							<div class="input-group m-auto">
								<input type="text" class="form-control pl-3" name="search" placeholder="Pretraga..." aria-label="Pretraga"
									aria-describedby="search-icon">
								<div class="input-group-append">
									<span class="input-group-text py-0 px-3" id="search-icon">
										<button type="submit" class="btn p-0">
											<i class="fas fa-search"></i>
										</button>
									</span>
								</div>
							</div>
						</form>

					</div>
				<% } else{ %>
				<% for (const book of books){ %>
				<div class="col-md-6 col-xl-4 mb-4">
					<div class="card">
						<a
							href="/books/<%= book.id %>"
							class="text-center py-3 book-img-link"
							style="background: url(<%=book.volumeInfo.imageLinks.thumbnail%>); background-position: center; background-size: cover; background-repeat: no-repeat;"
						>
							<img src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="img-fluid" alt="<%= book.volumeInfo.title %> image." />
							<div class="book-img-overlay"></div>
						</a>
						<div class="card-body">
							<h5 class="card-title">
								<%= book.volumeInfo.title %>
							</h5>

							<% if(book.volumeInfo.authors) { %>
							<p class="card-text">
								<strong>Autor/i:</strong>
								<br />
								<% for(const author of book.volumeInfo.authors){ %>
								<em><%= author %></em>
								<br />
								<% } %>
							</p>
							<% } %> <% if(book.volumeInfo.averageRating) { %>
							<p class="card-text mt-3">
								<strong>Google Books ocjena:</strong>
								<br />
								<span title="<%= book.volumeInfo.averageRating %> / 5">
									<span class="fas fa-star checked-star"></span>
									<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 1.5) { %> checked-star <% } %>"></span>
									<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 2.5) { %> checked-star <% } %>"></span>
									<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 3.5) { %> checked-star <% } %>"></span>
									<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 4.5) { %> checked-star <% } %>"></span>
								</span>
								<em>(<%= book.volumeInfo.ratingsCount %>)</em>
								<br />
							</p>
							<% } %>

							<!-- Linkovi -->
							<a href="/books/<%= book.id %>" class="btn btn-block read-more-btn read-more-book-show-btn mt-5">Pročitaj više</a>
							<form action="/books/favorites/<%= book.id %>?_method=DELETE" method="POST" class="d-inline">
								<button type="submit" class="btn btn-block remove-from-favorites-btn mt-2">
									<i class="fa-trash fas"></i>
									Ukloni iz favorita
								</button>
							</form>
						</div>
					</div>
				</div>
				<% } %>
				<% } %>
			</div>
		</div>
	</section>
</main>

<% include ../partials/foot %>
