<% include ../partials/head %> <% include ../partials/sidebar %>

<!-- Pretraga -->
<form action="/books" method="GET" class="top-bar-form">
	<div class="input-group">
		<input type="text" class="form-control pl-3" name="search" placeholder="Pretraga..." aria-label="Pretraga" aria-describedby="search-icon" />
		<div class="input-group-append">
			<span class="input-group-text py-0 px-3" id="search-icon">
				<button type="submit" class="btn p-0">
					<i class="fas fa-search"></i>
				</button>
			</span>
		</div>
	</div>
</form>

<main>
	<section id="index-books">
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-12">
					<!-- Pretraga -->
					<form action="/books" method="GET">
						<div class="input-group mb-5">
							<input type="text" class="form-control pl-3" name="search" placeholder="Pretraga..." aria-label="Pretraga" aria-describedby="search-icon" />
							<div class="input-group-append">
								<span class="input-group-text py-0 px-3" id="search-icon">
									<button type="submit" class="btn p-0">
										<i class="fas fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<% for (const book of books){ %>
				<div class="col-md-12 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-3 text-center align-self-sm-center">
									<a href="books/<%= book.id %>"><img src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="img-fluid" alt="<%= book.volumeInfo.title %> image." /></a>
									<% if(book.volumeInfo.averageRating) { %>
									<p class="card-text mt-3">
										<strong>Google Books ocjena:</strong>
										<br />
										<span title="<%= book.volumeInfo.averageRating %> / 5">
											<span class="fas fa-star checked-star"></span>
											<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 1.5) { %> checked-star <% } %>"></span>
											<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 2.5) { %> checked-star <% } %>"></span>
											<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 3.5) { %> checked-star <% } %>"></span>
											<span class="fas fa-star <% if (book.volumeInfo.averageRating >= 4.5) { %> checked-star <% } %>"></span>
										</span>
										<em>(<%= book.volumeInfo.ratingsCount %>)</em>
										<br />
									</p>
									<% } %>
								</div>
								<div class="col-9">
									<div class="row align-items-center">
										<div class="col-8 col-md-9 col-lg-10">
											<h5 class="card-title mb-0">
												<%= book.volumeInfo.title %>
											</h5>
										</div>
										<div class="col-4 col-md-3 col-lg-2 text-center">
											<a href="/books/favorites/<%= book.id %>" class="btn add-to-favorites-btn <% if(currentUser && currentUser.favorites && currentUser.favorites.some(function(favorite){ return favorite === book.id })) { %> disabled <% } %>" 
												<% if(currentUser && currentUser.favorites && currentUser.favorites.some(function(favorite){ return favorite === book.id })) { %>
													 	title="Dodano u favorite" 
													<% } else{ %> 
														title="Dodaj u favorite" 
													<% } %>
											>
												<i
													class="fa-heart <% if(currentUser && currentUser.favorites && currentUser.favorites.some(function(favorite){ return favorite === book.id })) { %> fas <% } else{ %> far <% } %>"
												></i>
											</a>
										</div>
									</div>
									<p class="card-text mt-3">
										<% if(book.volumeInfo.authors) { %> <% for(const author of book.volumeInfo.authors){ %> | <%= author %> <% } %> <% } %>
									</p>
									<p class="card-text">
										<% if(book.volumeInfo.categories) { %> <% for(const category of book.volumeInfo.categories){ %>
										<em><%= category %></em>
										<% } %> <% } %>
									</p>
									<% if(book.searchInfo && book.searchInfo.textSnippet) { %>
									<p class="card-text">
										<%- book.searchInfo.textSnippet.substring(0,250) %>
									</p>
									<% } %>

									<a href="books/<%= book.id %>" class="btn read-more-btn">Pročitaj Više</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</section>
</main>
<% include ../partials/foot %>
