<nav class="navbar pb-0 navbar-expand-lg fixed-top navbar-dark">
	<a class="navbar-brand my-1" href="/">NTIP</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link mx-lg-1 my-1" href="/">
					<i class="fas fa-home mr-1"></i>
					Početna
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<% if(!currentUser){ %>

			<li class="nav-item">
				<a class="nav-link mx-lg-1 my-1" href="/login">
					<i class="fas fa-user mr-1"></i>
					Prijava
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-lg-3 mx-lg-1 my-1" href="/register">
					<i class="fas fa-user-plus mr-1"></i>
					Registracija
				</a>
			</li>

			<% } else { %>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle btn text-left my-2 my-lg-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<% if(currentUser.profileImage) { %>
					<img src="<%=currentUser.profileImage%>" class="profile-image-top-bar" alt="<%= currentUser.username %> profile image." />
					<% } else { %>
					<i class="fas fa-user mr-1"></i>
					<% } %> <%= currentUser.username %>
				</a>
				<div class="dropdown-menu user-dropdown bg-white px-2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item btn" href="/users/<%=currentUser.username%>">
						<i class="fas fa-user mr-2"></i>
						Profil
					</a>
					<a href="/books/favorites" class="dropdown-item btn">
						<i class="fas fa-heart mr-1"></i>
						<span>
							Favoriti <%if (currentUser && currentUser.favorites.length >0) { %>
							<sup><span class="badge badge-danger rounded-circle"><%= currentUser.favorites.length %></span></sup>
							<% } %>
						</span>
					</a>
					<a href="#" class="dropdown-item btn">
						<i class="fas fa-comment mr-1"></i>
						<span>Recenzije</span>
					</a>
					<a class="dropdown-item btn" href="#">
						<i class="fas fa-cog mr-1"></i>
						Postavke
					</a>
					<a class="dropdown-item btn" href="/logout">
						<i class="fas fa-sign-out-alt mr-1"></i>
						Odjava
					</a>
				</div>
			</li>

			<% } %>
		</ul>
	</div>
</nav>

<% include ./flashmessages %>
