<% include ../partials/head %>

<aside id="sidebar">
	<ul class="text-white text-center text-md-left pt-1">
		<li class="mt-2">
			<!-- <p class="d-md-none"><em>NTIP</em></p>
			<p class="d-none d-md-block"><em>Online Biblioteka</em></p> -->
		</li>
		<li class="mt-2 text-md-center">
			<img
				src="https://images.unsplash.com/photo-1521572267360-ee0c2909d518?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
				alt="Profilna slika"
				class="profile-image"
			/>
		</li>
		<li class="mt-1 d-none d-md-block text-md-center">
			<p class="profile-name">John Smith</p>
		</li>
		<li class="mt-4 pl-md-2"><i class="fas fa-home"></i></li>
		<li class="mt-2 pl-md-2"><i class="fas fa-heart"></i></li>
		<li class="mt-2 pl-md-2"><i class="fas fa-comment"></i></li>
		<li class="mt-2 pl-md-2"><i class="fas fa-cog"></i></li>
		<li class="mt-2 pl-md-2"><i class="fas fa-sign-out-alt"></i></li>
	</ul>
</aside>

<!-- Pretraga -->
<form action="/books" method="GET" class="top-bar-form">
	<div class="input-group">
		<input
			type="text"
			class="form-control pl-3"
			name="search"
			placeholder="Pretraga..."
			aria-label="Pretraga"
			aria-describedby="search-icon"
		/>
		<div class="input-group-append">
			<span class="input-group-text py-0 px-3" id="search-icon">
				<button type="submit" class="btn p-0">
					<i class="fas fa-search"></i>
				</button>
			</span>
		</div>
	</div>
</form>

<section id="index-books">
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
				<!-- Pretraga -->
				<form action="/books" method="GET">
					<div class="input-group mb-5">
						<input
							type="text"
							class="form-control pl-3"
							name="search"
							placeholder="Pretraga..."
							aria-label="Pretraga"
							aria-describedby="search-icon"
						/>
						<div class="input-group-append">
							<span class="input-group-text py-0 px-3" id="search-icon">
								<button type="submit" class="btn p-0">
									<i class="fas fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<% for (const book of books){ %>
			<div class="col-md-12 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-3 text-center align-self-sm-center">
								<a href="#"
									><img
										src="<%= book.volumeInfo.imageLinks.thumbnail %>"
										class="img-fluid"
										alt="<%= book.volumeInfo.title %> image."
								/></a>
							</div>
							<div class="col-9">
								<h5 class="card-title"><%= book.volumeInfo.title %></h5>
								<p class="card-text">
									<% if(book.volumeInfo.authors) { %> <% for(const author of
									book.volumeInfo.authors){ %> | <%= author %> <% } %> <% } %>
								</p>
								<p class="card-text">
									<% if(book.volumeInfo.categories) { %> <% for(const category
									of book.volumeInfo.categories){ %>
									<em><%= category %></em>
									<% } %> <% } %>
								</p>
								<% if(book.volumeInfo.description) { %>
								<p class="card-text">
									<%= book.volumeInfo.description.substring(0,250) %>...
								</p>
								<% } %>

								<a href="#" class="btn read-more-btn">Pročitaj Više</a>

								<!-- Button trigger modal -->
								<!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                    Launch demo modal
                                </button> -->

								<!-- Modal -->
								<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 100%;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="viewerCanvas" style="width: 100%; height: 700px"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

								<!-- <a href="#" class="btn btn-primary btn-read-more" title="Pročitaj Više"><i
                                        class="fa fa-info"></i></a>
                                <a href="#" class="btn btn-success btn-quick-view" title="Brzi pregled"><i
                                        class="fa fa-eye"></i></a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</section>

<script
	type="text/javascript"
	src="https://www.google.com/books/jsapi.js"
></script>
<script type="text/javascript">
	google.books.load();

	function initialize() {
		var viewer = new google.books.DefaultViewer(
			document.getElementById('viewerCanvas')
		);
		viewer.load('VcV7AwAAQBAJ');
	}

	google.books.setOnLoadCallback(initialize);
</script>

<% include ../partials/foot %>

<!-- <!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Books Embedded Viewer API Example</title>
    <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
<script type="text/javascript">
GBS_insertEmbeddedViewer('6aNwCgAAQBAJ',600,500);
</script>
  </head>
  <body>
    <div id="viewerCanvas" style="width: 1920px; height: 1080px"></div>
  </body>
</html> -->
