<% include ../partials/head %>

<main>
	<!-- Uredi profil - section -->
	<section class="registration-login-page-section">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-6">
					<div class="card px-lg-5 py-md-4">
						<div class="card-body">
							<h4 class="card-title text-center">
								<strong>Uredi profil</strong>
							</h4>
							<form action="/users/<%= user.username %>/edit" method="POST" enctype="multipart/form-data" class="mt-4 mt-md-5">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="username"><i class="fas fa-user"></i></span>
									</div>
									<input
										type="text"
										class="form-control"
										placeholder="Korisničko ime*"
										aria-label="Korisničko ime"
										name="username"
										aria-describedby="username"
										pattern="^[a-z0-9_-]{4,10}$"
										title="Može sadržavati slova, brojeve i '_' ili '-'. Minimalna dužina: 4 znaka. Maksimalna dužina: 10 znakova."
										value="<%= user.username %>"
										required
									/>
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-id-card"></i></span>
									</div>
									<input
										type="text"
										aria-label="Ime"
										class="form-control"
										placeholder="Ime*"
										name="firstName"
										pattern="[A-Ža-ž]{1,25}"
										title="Može sadržavati velika i mala slova. Minimalna dužina: 1 znak. Maksimalna dužina: 25 znakova."
										value="<%= user.firstName %>"
										required
									/>
									<input
										type="text"
										aria-label="Prezime"
										class="form-control"
										placeholder="Prezime*"
										name="lastName"
										pattern="[A-Ža-ž]{1,25}"
										title="Može sadržavati velika i mala slova. Minimalna dužina: 1 znak. Maksimalna dužina: 25 znakova."
										value="<%= user.lastName %>"
										required
									/>
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="email"><i class="fas fa-envelope"></i></span>
									</div>
									<input
										type="e-mail"
										name="email"
										class="form-control"
										placeholder="email@primjer.com*"
										title="E-mail adresa"
										aria-label="Email"
										aria-describedby="email"
										value="<%= user.email %>"
										required
									/>
								</div>

								<div class="input-group mb-0">
									<div class="input-group-prepend">
										<span class="input-group-text" id="imageDesc"><i class="fas fa-file-image"></i></span>
									</div>
									<input type="file" class="form-control" id="image" title="Profilna slika" aria-describedby="imageDesc" name="image" accept="image/*" />
								</div>
								<p>
									<small><em>Ukoliko želite promijeniti profilnu sliku, uploadajte novu.</em></small>
								</p>

								<div class="form-group mt-4 mt-md-5">
									<button class="btn read-more-btn register-btn btn-block" type="submit">Uredi</button>
								</div>
							</form>
							<!-- <p class="text-center">
								<em><a href="/forgot">Promijeni šifru</a></em>
							</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<% include ../partials/foot %>
